Extraccion de datos de los equipos del mundial

In [7]:
import pandas as pd
from string import ascii_uppercase as alphabet

tables = pd.read_html("https://en.wikipedia.org/wiki/2022_FIFA_World_Cup")
tables[17]

,Pos,Teamvte,Pld,W,D,L,GF,GA,GD,Pts,Qualification
0,1,England,3,2,1,0,9,2,+7,7,Advanced to knockout stage
1,2,United States,3,1,2,0,2,1,+1,5,Advanced to knockout stage
2,3,Iran,3,1,0,2,4,7,−3,3,NaN
3,4,Wales,3,0,1,2,1,6,−5,1,NaN

In [20]:
#Groups since A -> H
dict_tables = {}
for letter,_ in zip(alphabet, range(8)):
    df = tables[10+_*7]
    df.rename(columns={df.columns[1]: 'Team'}, inplace=True)
    df.pop('Qualification')
    dict_tables[f'Group {letter}'] = df

In [25]:
dict_tables['Group B']

   Pos           Team  Pld  W  D  L  GF  GA  GD  Pts
0    1        England    3  2  1  0   9   2  +7    7
1    2  United States    3  1  2  0   2   1  +1    5
2    3           Iran    3  1  0  2   4   7  −3    3
3    4          Wales    3  0  1  2   1   6  −5    1

Extraccion de datos historicos

In [45]:
from bs4 import BeautifulSoup
import requests

years = [x for x in range(1930,2019,4) ]

def get_matches(year):
    source = f"https://en.wikipedia.org/wiki/{year}_FIFA_World_Cup"

    response = requests.get(source)
    content = response.text
    content_soup = BeautifulSoup(content, 'lxml')
    # Extract the tables
    matches = content_soup.find_all('div', {'class':'footballbox'})

    home = []
    score = []
    away = []

    for match in matches:
        home.append(match.find('th', {'class':'fhome'}).get_text())
        score.append(match.find('th', {'class':'fscore'}).get_text())
        away.append(match.find('th', {'class':'faway'}).get_text())

    dict_matches ={'Home':home,
                'Score':score,
                'Away':away}

    matches_df = pd.DataFrame(dict_matches)
    matches_df['year'] = str(year)

    return matches_df
historical_data_world_cups = [get_matches(x) for x in years]
historical_data_world_cups_df = pd.concat(historical_data_world_cups, ignore_index=True)
historical_data_world_cups_df

           Home         Score      Away  year
0       France            4–1    Mexico  1930
1    Argentina            1–0    France  1930
2        Chile            3–0    Mexico  1930
3        Chile            1–0    France  1930
4    Argentina            6–3    Mexico  1930
..          ...           ...       ...   ...
896     Russia   2–2 (a.e.t.)   Croatia  2018
897     France            1–0   Belgium  2018
898    Croatia   2–1 (a.e.t.)   England  2018
899    Belgium            2–0   England  2018
900     France            4–2   Croatia  2018

[901 rows x 4 columns]

In [46]:
#fixture and the results from 2022
df_results = get_matches('2022')
df_results

            Home         Score          Away  year
0         Qatar            0–2       Ecuador  2022
1       Senegal            0–2   Netherlands  2022
2         Qatar            1–3       Senegal  2022
3   Netherlands            1–1       Ecuador  2022
4       Ecuador            1–2       Senegal  2022
..           ...           ...           ...   ...
59      England            1–2        France  2022
60    Argentina            3–0       Croatia  2022
61       France            2–0       Morocco  2022
62      Croatia            2–1       Morocco  2022
63    Argentina   3–3 (a.e.t.)        France  2022

[64 rows x 4 columns]

In [29]:
! pip install requests

Collecting requests
  Downloading requests-2.29.0-py3-none-any.whl (62 kB)
     ---------------------------------------- 0.0/62.5 kB ? eta -:--:--
     -------------------------- ------------- 41.0/62.5 kB ? eta -:--:--
     ---------------------------------------  61.4/62.5 kB 1.1 MB/s eta 0:00:01
     -------------------------------------- 62.5/62.5 kB 555.9 kB/s eta 0:00:00
Collecting urllib3<1.27,>=1.21.1
  Using cached urllib3-1.26.15-py2.py3-none-any.whl (140 kB)
Collecting charset-normalizer<4,>=2
  Using cached charset_normalizer-3.1.0-cp310-cp310-win_amd64.whl (97 kB)
Collecting certifi>=2017.4.17
  Using cached certifi-2022.12.7-py3-none-any.whl (155 kB)
Collecting idna<4,>=2.5
  Using cached idna-3.4-py3-none-any.whl (61 kB)
Installing collected packages: urllib3, idna, charset-normalizer, certifi, requests
Successfully installed certifi-2022.12.7 charset-normalizer-3.1.0 idna-3.4 requests-2.29.0 urllib3-1.26.15

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip